<main id="profile" class="v-scroll">
    <div class="index v-scroll">
        <ul class="index-ul">
            <li><label>Hello {{#if user.firstName}} {{cfc user.firstName}}
                    {{cfc user.lastName}}{{else}}{{cfc user.userName}}{{/if}}</label></li>          
            <li>
                <a href="/user/dashboard"
                    data-tool-tip="View Your Dashboard">Dashboard</a>
            </li>
            <li>
                <a href="/api/youtube/search"
                    data-tool-tip="Search YouTube Content">YouTube</a>
            </li>            
            <li>
                <div class="dropdown">
                    <a href="#!" 
                        onclick="profileSettings()" 
                        class="dropbtn"
                        data-tool-tip="Edit Your Profile">Settings</a>
                    <div id="myDropdown" class="dropdown-content">
                        <a href="/user/profile/edit">Edit Profile</a>
                    </div>
                </div>
            </li>
            <li>
                <a href="/auth/logout"
                    data-tool-tip="Sign Out">Sign Out</a>
            </li>
        </ul>
    </div>
    <div class="content">
        <div>
            {{#if viewProfile}}
                <form class="profile-form">
                    {{#if user.firstName}}		
                    <div class="input-group">
                        <label>First Name</label>
                        <input type="text" name="fname" value="{{cfc user.firstName}}" readonly/>
                    </div>
                    {{/if}}

                    {{#if user.middleName}}
                    <div class="input-group">
                        <label>Middle Name</label>
                        <input type="text" name="lname" value="{{cfc user.middleName}}" readonly/>
                    </div>
                    {{/if}}

                    {{#if user.lastName}}
                    <div class="input-group">
                        <label>Last Name</label>
                        <input type="text" name="lname" value="{{cfc user.lastName}}" readonly/>
                    </div>
                    {{/if}}

                    {{#if user.nickName}}
                    <div class="input-group">
                        <label>Nick Name</label>
                        <input type="text" name="lname" value="{{cfc user.nickName}}" readonly/>
                    </div>
                    {{/if}}

                    {{#if user.displayName}}
                    <div class="input-group">
                        <label>Display Name</label>
                        <input type="text" name="lname" value="{{cfc user.displayName}}" readonly/>
                    </div>
                    {{/if}}

                    {{#if user.userName}}
                    <div class="input-group">
                        <label>User Name</label>
                        <input type="text" name="uname" value="{{cfc user.userName}}" readonly/>
                    </div>
                    {{/if}}

                    {{#if user.gender}}
                    <div class="input-group">
                        <label>Gender</label>
                        <input type="text" name="uname" value="{{cfc user.gender}}" readonly/>
                    </div>
                    {{/if}}

                    {{#if user.email}}
                    <div class="input-group">
                        <label>Email</label>
                        <input type="email" name="email" value="{{cfc user.email}}" readonly/>
                    </div>
                    {{/if}}

                    {{#if user.provider}}
                    <div class="input-group">
                        <label>Provider</label>
                        <input type="text" name="uname" value="{{cfc user.provider}}" readonly/>
                    </div>
                    {{/if}}
                </form>
            {{else}}
                <form class="profile-form" method="post" action="/user/profile">
                		
                <div class="input-group">
                    <label>First Name</label>
                    <input type="text" name="fname" value="{{#if user.firstName}}{{user.firstName}}{{/if}}"/>
                </div>
                                
                <div class="input-group">
                    <label>Middle Name</label>
                    <input type="text" name="mname" value="{{#if user.middleName}}{{user.middleName}}{{/if}}"/>
                </div>
                                
                <div class="input-group">
                    <label>Last Name</label>
                    <input type="text" name="lname" value="{{#if user.lastName}}{{user.lastName}}{{/if}}"/>
                </div>
               
                <div class="input-group">
                    <label>Nick Name</label>
                    <input type="text" name="nname" value="{{#if user.nickName}}{{user.nickName}}{{/if}}"/>
                </div>
                                
                <div class="input-group">
                    <label>Display Name</label>
                    <input type="text" name="dname" value="{{#if user.displayName}}{{user.displayName}}{{/if}}"/>
                </div>
                                
                <div class="input-group">
                    <label>User Name</label>
                    <input type="text" name="uname" value="{{#if user.userName}}{{user.userName}}{{/if}}"/>
                </div>
                                
                <div class="input-group">
                    <label>Email</label>
                    <input type="email" name="email" value="{{#if user.email}}{{user.email}}{{/if}}"/>
                </div>
                                
                <div class="input-group">
                    <label>Image URL</label>
                    <input type="url" name="imageUrl" value="{{#if user.image}}{{user.image}}{{/if}}"/>
                </div>
                                
                <div class="input-group-multi">
                    <label class="label">Gender</label>
                    <span class="male"><input class="input" type="radio" name="gender" {{#if gender.male}} checked {{/if}} value="male"/> Male</span>
                    <span class="female"><input class="input" type="radio" name="gender" {{#if gender.female}} checked {{/if}} value="female"/> Female</span>
                    <span class="other"><input class="input" type="radio" name="gender" {{#if gender.other}} checked {{/if}} value="other"/> Other</span>
                </div>

                <div class="input-group-controls">
                    <button type="submit" class="save-button">
                        <i class="far fa-save"></i>
                    </button>
                    <a href="/user/profile" type="button" class="cancel-button">
                        <i class="fas fa-times"></i>
                    </a>
                </div>                
            </form>
            {{/if}}
        </div>
    </div>
</main>